@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Silkscreen&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nevigationbar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/red-dot.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/splash-screen.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/talk.css";

body {
    background-color: black;
    color: var(--blue);
    font-family: 'Silkscreen', cursive;
    height: 90vh;
}

a {
    text-decoration-line: none;
    color: var(--red);
}

input{
    font-family: 'Silkscreen', cursive;
}
.main-screen, .main-talk {
    padding: 0px var(--horizontal-space);

}
.main-screen a {
    color: var(--blue);
}

