.recommended-friends {
    margin: 20px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-friends__title {
    font-size: 20px;
    color: var(--smalltext);
}
.recommended-friends span {
    padding-top:20px ;
    color: var(--orange);
    font-size: 15px;
    display:flex;
    align-items: center;
}

.recommended-friends span>p{
    font-size: 20px;
    color: var(--red);
    margin: 0px 20px;
}
.recommended-friends span>p:hover{
    animation: heartbeat 1s linear infinite;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.open-post__title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase;
}

.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
    font-size: 12px;

}

.open-post__members img {
    width: 20px;
    height: 23px;
    border-radius: 50%;
    margin-right:10px;
}


.open-post__members .divider {
    width: 1px;
    height: 10px;
    background-color: var(--textgray);
    margin: 0px 5px;
}

.open-post__member-status {
    color: var(--red)
}

.open-post__photo  {
    position: relative;

}
.open-post__photo img {
    width: 100px;
    height: 103px;
    border-radius: 10px;

}
.open-post__heartcount{
    background-color: var(--blue);
    color: var(--red);
    padding : 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: 12px;
    
}

.open-post__heartcount span{
    margin-left: 5px;
    
}

@keyframes heartbeat {
    0%{ 
        color: blue;
        transform: none;
    }
    50%{
        color: white;
        transform: scale(1.5);
    }
    100%{
        color:tomato;
        transform: none;
    }
}
.open-post__heartcount:hover i {
    will-change: transform;
    animation: heartbeat 1s linear infinite;

}