.setting-setting {
    padding: 20px 0px;
    border-bottom: var(--main-border) ;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting-setting i {
    margin-right: 25px;
    font-size: 25px;

}

.setting-setting__column:last-child {
    font-size:15px;
}