.nav{
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    border: 10px dotted var(--dots);
    background-color: black;
    z-index: 10;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    
    
    
}

.nav__link {
    position: relative;
    color: var(--red);
    text-decoration: none;
}

@keyframes notice {
    0%{
        transform: none;
    }

    50%{
        
        transform: translateY(5px) rotateX(45deg);
    }

    100%{
    transform:none;
    }
}
.nav__notice {
    position: absolute;
    left: 30px;
    top: -20px;
    animation: notice 2s ease-in-out infinite;
}

@keyframes appearbtnani {
    from{
        
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.nav__btn {
    transform: translateY(80px);
    opacity: 0;
    animation: appearbtnani 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
    animation-delay: 0.3s;
}
.nav__btn:nth-child(3) {
    animation-delay: 0.6s;
}
.nav__btn:last-child {
    animation-delay: 0.9s;
}
.nav__btn:nth-child(2) i{
    color: var(--purple);
}
.nav__btn:nth-child(3) i{
    color: var(--orange);
}
.nav__btn:last-child i{
    color: var(--blue);
}