#no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    top: 0;
}
#no-mobile img {
    width: 30%;
    margin-bottom: 30px;
}

@media screen and (max-width:1050px) {
    #no-mobile {
        display: none;
    }
}