.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
    margin-top: 40px;   
}

.screen-header__title {
    font-size: 25px;
    font-weight: 400;
}

.screen-header__icons  {
    display: flex;
    align-items: center;
}
.screen-header__icons span {
    position:relative;
    margin-left: 15px;
}
.screen-header__icons a:hover, 
.screen-header__icons span:hover{
    transition: ease-in-out 0.2s;
    color: var(--red);
}
.screen-header__icons a{
    color: var(--blue);
}

@keyframes rotateCog {
from{
    transform: none;
}
to{
    transform: rotateZ(360deg);
}
}

.screen-header__icons .fa-cog:hover {
animation: rotateCog 1s linear infinite;
}