@keyframes hidescreen {
    form {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: black;
    position: absolute;
    height:100vh;
    width: 100vw;
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    animation: hidescreen 3s ease-in-out forwards;
}
#splash-screen img {
    margin-bottom: 100px;
}
.splash-screen__text-box{
    display: flex;
}
.splash-screen__text{
    animation: movingText 1.8s ease-in-out infinite;
}

@keyframes movingText {
    0%{
        transform: none;
    }
    25% {
        transform: translateY(-40px);
    }
    50%,100%{
        transform: none;
    }
}
.splash-screen__text:nth-child(2)  {
    animation-delay: 0.2s;
}
.splash-screen__text:nth-child(3)  {
    animation-delay: 0.3s;
}
.splash-screen__text:nth-child(4)  {
    animation-delay: 0.4s; 
}
.splash-screen__text:nth-child(5) {
    animation-delay: 0.5s;
}
.splash-screen__text:nth-child(6) {
    animation-delay: 0.6s;
}
.splash-screen__text:nth-child(7) {
    animation-delay: 0.7s;
}
.splash-screen__text:nth-child(8 ){
    animation-delay: 0.8s;
}
.splash-screen__text:nth-child(9) {
    animation-delay: 0.9s;
}
.splash-screen__text:nth-child(10) {
    animation-delay: 1s;
}
.splash-screen__text:nth-child(11) {
    animation-delay: 1.1s;
}
.splash-screen__text:nth-child(12) {
    animation-delay: 1.2s;
}
.splash-screen__text:nth-child(13) {
    animation-delay: 1.3s;
}
.splash-screen__text:nth-child(14) {
    animation-delay: 1.4s;
}
.splash-screen__text:nth-child(15) {
    animation-delay: 1.5s;
}



